@import "./utility.scss";
/* @import links utility to this page and anything set up up within that page will work here*/
/* @include background() was set up in utility.scss and using this command will automatically make the background royalblue and align text*/
/* font and font size set up*/
/* flexbox items have space around*/
footer {
    @include background();
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

    display: flex;
    justify-content: space-around;

    // .botnav {
    //     display: flex;
    //     justify-content: space-around;
    //     width: 100%;

    //     a {
    //         margin-top: 16px;
    //     }
    // }
/* in mobile view font size will become 16px*/
    @media screen and (max-width: 600px) {
        font-size: 16px;
    }
}