@import "./utility.scss";

header {
    @include background();
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    

    .contain-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logoimg {
        width: 100px;
        height: 100px;
    }

    .topnav {
        ul {
            display: flex;
            list-style: none;
        }

        a {
            padding: 16px;
            text-decoration: none;
            transition: 1s;
        }
    }

        a:hover {
            background-color:white;
            transform: scale(1,1);
            // box-shadow: 1px 1px 1px 1px red;
        }

        a:active {
            background-color: rebeccapurple;
        }

        a:visited {
            text-decoration: line-through red;
        }
    }

    @media screen and (max-width: 600px) {
        .contain-head {
            display: flex;
            flex-direction: column;
        }

        .topnav {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    }