/* a page that has linked to this can use @include background() to automatically make the background color blue, align text and padding */
@mixin background() {
    background-color: royalblue;
    text-align: center;
    padding: 0px;
}