// Links index.scss to this page and when about.css is used by a page that page will have the properties and values of about.css and index.css
@import "../index";

main {
    section {
        .resume {
            a {
                text-decoration: none;
            }
        }
    }
}

// For desktop view
@media screen and (min-width: 600px) {
    main {
        section {

            display: flex;
            justify-content: start;
            flex-direction: row;
            
            .indeximg {
                height: 500px;
                margin: 10px;
            }
            
            .myinfo {
                margin: 10px;

                h1 {
                    font-size: 34px;
                }
                
                p {
                    font-size: 20px;
                }
            }
        }
    }
}

// For mobile view
@media screen and (max-width: 600px) {

    main {
        section {
            display: flex;
            align-items: center;
            flex-flow: column wrap;
            
            .indeximg {
                height: 250px;
                width: 200px;
                margin-top: 20px;
                padding: 10px;
            }
        
            .myinfo {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 10px;

                h1 {
                    font-size: 24px;
                }
                
                p {
                    font-size: 16px;
                }
            }
            
            .resume {
                margin-bottom: 10px;
            }
        }
    }
}