@import "../index";

body {
    .b-header {
        text-align: center;
    }

    .jumbotron {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .b-content {
        margin-left: 10px;
        margin-right: 5px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
}