@import "../index";
/* import header and footer settings*/

body {
    /* align header text*/
    .b-header {
        text-align: center;
    }
    /*img will take up 100% of the page */
    .jumbotron {
        width: 100%;

        img {
            width: 100%;
        }
    }
    /*text area will have the following margin to look centered */
    .b-content {
        margin-left: 10px;
        margin-right: 5px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
}