// Links index.scss to this page and when home.css is used by a page that page will have the properties and values of home.css and index.css
@import "../index";

main {
    section {
        display: flex;
        justify-content: center;

            h1 {
                text-align: center;
                font-size: 34px;
            }

            .typewrite h2 {
                text-align: center;
                font-size: 24px;
                overflow: hidden;
                white-space: nowrap;
                animation-name: typing;
                animation-duration: 3s;
            }

            a:link {
                color: #01060e;
            }
    
            a:visited {
                color: rebeccapurple
            }
    
            a:hover {
                text-decoration: underline;
                background-color: white;
            }
    
            a:active {
                color: red;
            }
        }
    }

@keyframes typing {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    main {
        section {
            h1 {
                text-align: center;
                font-size: 24px;
            }
            .typewrite h2 {
                text-align: center;
                font-size: 16px;
                overflow: hidden;
                white-space: nowrap;
                animation-name: typing;
                animation-duration: 3s;
            }
        }
    }
}