/* a page that has linked to this can use @include background() to automatically make the background color blue, align text and padding */
/* @import links utility to this page and anything set up up within that page will work here*/
/* @include background() was set up in utility.scss and using this command will automatically make the background royalblue and align text*/
/* header font and size has been set up*/
header {
  background-color: royalblue;
  text-align: center;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  /* flexbox sets up the layout of the header*/
  /* the image height and width is set up*/
  /* navigation bar*/
  /* unvisited links will be black*/
  /*visited links will turn purple */
  /*hovering over a link will create a underline underneath */
  /*active links will become red */
}
header .contain-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logoimg {
  width: 100px;
  height: 100px;
}
header .topnav {
  /*display flex to set everything on the main axis */
  /*using unordered list give bullet point so using list style none hide it  */
  /* padding inline start is to get rid of the padding that comes with unordered list */
  /* anchor tags have 16px padding and has no underline stating its a hyperlink */
}
header .topnav ul {
  display: flex;
  list-style: none;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  /* hover cursor over ul gives the ul a white background*/
}
header .topnav ul :hover {
  background-color: white;
}
header .topnav a {
  padding: 16px;
  text-decoration: none;
}
header a:link {
  color: #01060e;
}
header a:visited {
  color: rebeccapurple;
}
header a:hover {
  text-decoration: underline;
}
header a:active {
  color: red;
}

/* For mobile view*/
/* header will not shrink and remain at 100% width*/
/* Font will become smaller to fit smaller devices*/
@media screen and (max-width: 600px) {
  .contain-head {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .topnav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
  }
}
/* a page that has linked to this can use @include background() to automatically make the background color blue, align text and padding */
/* @import links utility to this page and anything set up up within that page will work here*/
/* @include background() was set up in utility.scss and using this command will automatically make the background royalblue and align text*/
/* font and font size set up*/
/* flexbox items have space around*/
footer {
  background-color: royalblue;
  text-align: center;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  /* in mobile view font size will become 16px*/
}
@media screen and (max-width: 600px) {
  footer {
    font-size: 16px;
  }
}

/* by default body has 8px margin, setting it to 0 allow no gap around. */
/* Default background-color will be set to peachpuff. */
/* 100vh will allow everything in the body to cover the web browser viewport height and to grow if needed*/
/* Font family sets the default font for the body*/
/* display flex controls the body element layout*/
body {
  margin: 0px;
  background-color: peachpuff;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  /* makes everything in the section area centered*/
}
main section {
  display: flex;
  justify-content: center;
  /* center h1 */
  /* center h2*/
  /* overflow hides text*/
  /* white space makes it appear on a single line*/
  /* animation name calls up @keyframes and animation duration dictates how long the animation will last*/
  /* color of links*/
  /* color of visited links*/
  /* when hovering over a link background color will be white*/
  /* active links will be red*/
}
main section h1 {
  text-align: center;
  font-size: 34px;
}
main section .typewrite h2 {
  text-align: center;
  font-size: 24px;
  overflow: hidden;
  white-space: nowrap;
  animation-name: typing;
  animation-duration: 3s;
}
main section a:link {
  color: #01060e;
}
main section a:visited {
  color: rebeccapurple;
}
main section a:hover {
  background-color: white;
}
main section a:active {
  color: red;
}

/* animation set up*/
@keyframes typing {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
/* mobile view*/
@media screen and (max-width: 600px) {
  main section {
    /* center h1 and change font size*/
    /* h2 animation for mobile view*/
  }
  main section h1 {
    text-align: center;
    font-size: 24px;
  }
  main section .typewrite h2 {
    text-align: center;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    animation-name: typing;
    animation-duration: 3s;
  }
}/*# sourceMappingURL=home.css.map */